
    
<meta name="google-signin-client_id" content="966805630265-6afbk7nt15f3r4so9ka2i93j2mfagqab.apps.googleusercontent.com">
<script src="https://apis.google.com/js/platform.js" async defer></script>
<script type="text/javascript">
function onSignIn(googleUser) {
  var profile = googleUser.getBasicProfile();
  console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
  console.log('Name: ' + profile.getName());
  console.log('Image URL: ' + profile.getImageUrl());
  console.log('Email: ' + profile.getEmail());


  var fullName = profile.getName().split(" ");
  var fName = fullName[0];
  var lName = fullName[1];
  var email = profile.getEmail();
  var gmail = true;
  var xhttp = new XMLHttpRequest();
      xhttp.onreadystatechange = function() {
        if (xhttp.readyState == 4 && xhttp.status == 200) {
          
        }
      };
      var jsonObject ={"gmail":gmail,"firstName":fName,"lastName":lName,"email":email};
      xhttp.open("POST", "http://localhost:1337/signin-gmail", false);
      xhttp.setRequestHeader("Content-type", "application/JSON");
      xhttp.send(JSON.stringify(jsonObject)); 
      window.location.href ="#/home";
      
      
      

}
function signOut() {
    var auth2 = gapi.auth2.getAuthInstance();
    auth2.signOut().then(function () {
      console.log('User signed out.');
    });
  }

</script>
    
<div style="background:#eee;" class="container text-center" ng-controller="LoginController" >
    
    <div class="row" >
    <form ng-submit="checkLogin()">
        <div style="background:#fff;margin-top: 10vh; height: 70vh" class="col-sm-offset-4 col-sm-4">
            <div class="row">
                <div style="padding:15px; padding-left:20px;">
                    <span style="font-size:22px; " class="pull-left lead">Login with</span>
                    <a type="button" class="close pull-right" href="#/">×</a>
                
                </div>
            </div>
            <div class="row">
                <div style="padding-top:10px; padding-bottom:10px;"  class="col-sm-offset-4 col-sm-4 text-center center-block">
                 
                    <div class="g-signin2" data-onsuccess="onSignIn"></div>
            
                </div>  
            </div>
            <div style="margin-bottom:50px;" >
                <div class="col-sm-5" style="border-bottom:2px solid #eee; padding-top:10px;"></div>
                <div class="col-sm-2"><span >or</span></div>
               <div class="col-sm-5" style="border-bottom:2px solid #eee;padding-top:10px;"></div>
            </div>
            
            <div style="position:relative; margin-bottom:10px;">
                <input ng-model="email"   id="email" class="form-control login-signup-input" placeholder="Enter your Email">
                <label class="label-for"  for="email"><span><i class="fa fa-envelope-o"></i></span></label>
            </div>
             <div style="position:relative; margin-bottom:10px;">
                <input type="password" ng-model="password" required maxlength="" id="pass" class="form-control login-signup-input" placeholder="Enter your password">
                <label class="label-for"  for="pass"><span ><i class="fa fa-unlock-alt"></i></span></label>
            </div>
            
            <div style="position:relative;margin-bottom:10px;">
                <button type="submit" id="sub-login-signup" class="form-control">
                    Log in
                </button>
               
            </div>
            <div >
                <span style="background:#d43f3a; width:100%;color:#fff;" class="pull-left">{{errorMessage}}</span>
            </div>
            
            <div  style="margin-top:50px; color:#bbb;">
                <span >Looking to </span><a href="#/signup"> Create New Account</a><span >   ?</span>
            </div>
        </div>
        </form>
    </div>
</div>